# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.venv
*bin
*lib
*include
*pyvenv.cfg


# Virtual environment (assuming 'venv')
venv/
.venv/

# Configuration file (user-specific)
config.json

# Database files
*.db
*.db-journal

# Log files
logs/
*.log

# IDE / OS specific files (examples)
.idea/
.vscode/
*.DS_Store
Prior Databases/GextractexpopsEM.py
ExpectedOps/venv/bin
ExpectedOps/venv

#environments
.env

